# Ignoriere Node Modules
node_modules/

# Ignoriere Log-Dateien
*.log
npm-debug.log*

# Ignoriere Umgebungsvariablen
.env
.env.local

# Ignoriere Betriebssystem-Dateien
.DS_Store
Thumbs.db

# Ignoriere IDE-Dateien
.vscode/
.idea/
*.swp
*.swo

# Ignoriere temporäre Dateien
*.tmp
*.temp

# Ignoriere Videos (zu groß für Git)
public/videos/*.mp4
public/videos/*.avi
public/videos/*.mov
public/videos/*.webm

# Ignoriere Puzzle-Bilder (zu groß für Git)
public/images/puzzle/*.jpg
public/images/puzzle/*.jpeg
public/images/puzzle/*.png
public/images/puzzle/*.gif
public/images/puzzle/*.webp

# stats
data/stats.json
data/stusers.json
data/users.json
data/messages.json
data/puzzle-gallery.json
data/wishlists.json
