# Ignoriere Node Modules
node_modules/

# Ignoriere Log-Dateien
*.log
npm-debug.log*

# Ignoriere Umgebungsvariablen
.env
.env.local

# Ignoriere Betriebssystem-Dateien
.DS_Store
Thumbs.db

# Ignoriere IDE-Dateien
.vscode/
.idea/
*.swp
*.swo

# Ignoriere temporäre Dateien
*.tmp
*.temp

# Ignoriere Videos (zu groß für Git)
public/videos/*.mp4
public/videos/*.avi
public/videos/*.mov
public/videos/*.webm

# stats
data/stats.json
data/stusers.json
data/users.json
data/messages.json
