# Ignoriere Node Modules
node_modules/

# Ignoriere Log-Dateien
*.log
npm-debug.log*

# Ignoriere Umgebungsvariablen
.env
.env.local

# Ignoriere Betriebssystem-Dateien
.DS_Store
Thumbs.db

# Ignoriere IDE-Dateien
.vscode/
.idea/
*.swp
*.swo

# Ignoriere temporäre Dateien
*.tmp
*.temp

# stats
data/stats.json
data/stats.json
